
/*
.foto {


 
  height: 300px;
 
  



}

*/
/*
    img-fluid height foto

*/




/*
.container {



  --height:300px;
    height: var(--height);
  
  
  
  
  



}
*/


/*
.height {


    height: var(--height);
  



}
*/

